[build]
target = "thumbv8m.main-none-eabihf"

#rustflags = ["-C", "link-arg=-Tlink.x"]
[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip STM32U5A5ZJTx"
# runner = "probe-rs run --chip STM32U575ZITx"

# rustflags = ["-C", "link-arg=-Tlink.x"]

[env]
DEFMT_LOG = "trace"